@tailwind base;
@tailwind components;
@tailwind utilities;


.blinking-cursor {
    display: inline-block;
    width: 2px;
    height: 1.2em;
    background-color: white;
    margin-left: 2px;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      background-color: transparent;
    }
    50% {
      background-color: white;
    }
  }
  